.wrapper {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #6a54ff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  letter-spacing: -0.8px;
}

.wrap_item {
  position: relative;
  padding-bottom: 8px;
}

.item {
  padding-bottom: 8px;
}

.item_text {
  margin-left: 10px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.wrap_cost {
  display: flex;
  width: 311px;
  justify-content: space-between;
  align-items: center;
}

.cost {
  position: relative;
  color: #fff;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 114.286% */
  letter-spacing: -1.4px;
}

.discount {
  position: absolute;
  left: 84px;
  top: -1px;

  color: #35ff9e;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}

.button {
  display: flex;
  width: 310px;
  height: 52px;
  padding: 16px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 3px;
  background: #57e1ff;
  box-shadow: 0px 0px 4px 0px #57e1ff;

  color: #030718;
  font-feature-settings: "ss04" on;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}

.button_span {
  color: #030718;
  font-feature-settings: "ss04" on;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  opacity: 0.56;
}
