.wrapper_title {
  margin-top: 48px;
  padding-left: 16px;

  @media (min-width: 1024px) {
    padding-left: 80px;
  }
}

.title {
  color: #fff;
  font-feature-settings: "case" on, "ss04" on;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

.text {
  color: #35ff9e;
  font-variant-numeric: slashed-zero;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: -0.56px;
}

.wrapper_status {
  display: flex;
  align-items: center;
  gap: 4px;
}

.status {
  width: 7px;
  height: 7px;
  background-color: #35ff9e;
  border-radius: 100%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #35ff9e;
  }
  70% {
    box-shadow: 0 0 0 9px rgba(53, 255, 158, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(53, 255, 158, 0);
  }
}

.wrap_carousel {
  margin-top: 24px;

  @media (min-width: 1024px) {
    margin-left: 80px;
  }
}
