.wrapper {
  margin-top: 40px;
  padding: 0 16px;

  @media (min-width: 1024px) {
    margin-top: 160px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.container {
  @media (min-width: 1024px) {
    width: 630px;
  }
}

.title {
  margin-top: 33px;
  color: #fff;
  font-feature-settings: "case" on, "ss04" on;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px; /* 125.714% */
  letter-spacing: -1.4px;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    margin-top: 0;
  }
}

.text {
  margin-top: 12px;
  color: #e7f7f8;
  font-feature-settings: "ss04" on;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  opacity: 0.8;
}

.banner {
  @media (min-width: 1024px) {
    width: 469px;
    height: 209px;
    flex-shrink: 0;
  }
}
