.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  opacity: 0.67;

  @media (min-width: 1024px) {
    flex-direction: row;
    gap: 28px;
    height: 20px;
  }
}

.item {
  color: var(--white);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  text-transform: uppercase;
}

.link {
  position: relative;
}

.link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #57e1ff;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 0.5s linear;
}

.link:hover:before {
  transform: scaleX(1);
}
