.wrapper {
  width: 299px;
  height: 208px;
  position: relative;
  background-color: #6a54ff;
  border-radius: 5px;
  clip-path: polygon(0% 0%, 87% 0, 100% 18%, 100% 100%, 0% 100%);
}

.image {
  position: absolute;
  top: 6px;
  right: 0;
}

.cryptocurrencies {
  margin-left: 16px;
  padding-top: 16px;
}

.wrap_spot {
  display: flex;
  flex-direction: column;
}

.spot_name {
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  letter-spacing: -0.8px;
  text-transform: uppercase;
}

.spot {
  opacity: 0.4;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

.wrap_profit {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
}

.profit_name {
  opacity: 0.7;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
  text-transform: uppercase;
}

.profit_value {
  display: flex;
  align-items: center;
  gap: 6px;
}

.profit {
  color: #35ff9e;
  font-variant-numeric: slashed-zero;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 128.571% */
  letter-spacing: -0.56px;
  text-transform: uppercase;
}

.wrap_target_date {
  margin-top: 9px;
  display: flex;
  width: 267px;
  justify-content: space-between;
  align-items: flex-start;
}

.target_number {
  opacity: 0.7;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}

.target_date {
  opacity: 0.4;
  color: #fff;
  text-align: right;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.28px;
}
