.button {
  display: flex;
  width: 100%;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 4px;
  background: #eaeff0;

  transition: border-radius 0.3s ease-out, background-color 0.3s ease-out,
    color 0.3s ease-out;
}

.button.open {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #6a54ff;
  color: #ffffff;
}

.question {
  width: 271px;
  color: #030718;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
  letter-spacing: -0.8px;
  text-align: left;

  @media (min-width: 1024px) {
    width: 658px;
  }
}

.answer {
  transition: 0.3s all ease-out;
}
