.list_stat {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;

  @media (min-width: 1024px) {
    margin-top: 0;
    gap: 129px;
  }
}

.item_stat {
  display: flex;
  flex-direction: column;
}

.name_stat {
  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  text-transform: uppercase;
  opacity: 0.8;

  max-width: 143px;

  @media (min-width: 1024px) {
    max-width: max-content;
  }
}

.value_stat {
  color: var(--purple, #6a54ff);
  font-variant-numeric: slashed-zero;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 110%; /* 38.5px */
  letter-spacing: -0.7px;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    font-size: 60px;
    font-weight: 500;
    line-height: 110%; /* 66px */
    letter-spacing: -1.2px;
  }
}
