.wrapper {
  padding: 0 16px 44px 16px;
  background: #030718;
  box-sizing: border-box;
}

.title {
  margin-top: 56px;
  color: #fff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 128.571% */
  letter-spacing: -1.12px;
  text-transform: uppercase;
}

.filter {
  margin-top: 24px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  background: #6a54ff;

  @media (min-width: 1024px) {
    width: 413px;
  }
}

.spot {
  width: 167px;
  height: 44px;
  border-radius: 4px;
  background-color: #57e1ff;
  border: none;

  color: #000;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.72px;
  text-transform: uppercase;

  @media (min-width: 1024px) {
    width: 201px;
  }
}

.futures {
  width: 167px;
  height: 44px;
  background-color: transparent;
  border: none;

  color: #57e1ff;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.72px;
  text-transform: uppercase;
  opacity: 0.8;

  @media (min-width: 1024px) {
    width: 201px;
  }
}

.wrap_card {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: center;
  }
}
